/* 라이트 모드 */
body[data-theme="light"] {
    background-color: #eee;
    color: black;
}

/* 다크 모드 */
body[data-theme="dark"] {
    background-color: #222;
    color: white;
}

body, #navbar, #sidebar, #bloglist {
    transition: background-color 0.5s ease, color 0.5s ease;
}

#navbar, #sidebar, #bloglist {
    background-color: inherit;
}

body[data-theme='light'] #profile
{
    background-color: #fff; /* 라이트 모드의 네비게이션 바와 사이드바 배경색 */
}

body[data-theme='light'] #bloglist li
{
    background-color: #fff; /* 라이트 모드의 네비게이션 바와 사이드바 배경색 */
}

body[data-theme='dark'] #profile
{
    background-color: #333; /* 라이트 모드의 네비게이션 바와 사이드바 배경색 */
}

body[data-theme='dark'] #bloglist li
{
    background-color: #333; /* 라이트 모드의 네비게이션 바와 사이드바 배경색 */
}

#bloglist::-webkit-scrollbar {  /* Chrome, Safari, Opera */
    display: none;
}

#bloglist {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */
}

body[data-theme='light'] #progressbar {
    background: #3498db;
}

body[data-theme='dark'] #progressbar {
    background: #645394;
}

#bloglist li {
  border-radius: 10px;
}

#profile {
  border-radius: 10px;
}

body[data-theme='light'] #bloglist li:hover {
    transition: all 0.3s ease-in-out;
    border-color: #3498db; /* hover 시 변경할 border 색상 */
}

body[data-theme='dark'] #bloglist li:hover {
    transition: all 0.3s ease-in-out;
    border-color: #645394; /* hover 시 변경할 border 색상 */
}

body[data-theme='light'] #theme-toggle, #theme-toggle-mobile {
  background-color: gray-200;
  color: black;
}

body[data-theme='dark'] #theme-toggle, #theme-toggle-mobile {
  background-color: #333;
  color: gray;
}

body[data-theme='dark'] #dropdown-links {
  background-color: #111;
  color: white;
}
body[data-theme='light'] #dropdown-links {
  background-color: white;
  color: black;
}