---
layout: default
---

<div class="relative">
    <img class="w-full h-24 rounded-lg mx-auto mb-3 object-cover" src="https://picsum.photos/800" alt="Profile picture">
    <div class="absolute inset-0 rounded-lg bg-white opacity-70">
        <div class="flex justify-between items-center">
            <h2 class="text-3xl font-bold px-3 m-3 text-gray-900">{{ page.title }}</h2>
            <div class="flex items-center space-x-2 px-3">
                <i class="fas fa-layer-group text-purple-900 items-left"></i>
                <span class="rounded-lg bg-purple-900 p-1 px-2 mr-6 text-sm text-white">  {% for category in page.categories %}{{ category }}{% if forloop.last == false %}, {% endif %}{% endfor %}</span> 
            </div>
            
        </div>
        <div class="flex items-center px-3 mb-3 ml-3">
            <div class="flex items-center space-x-2">
                <i class="far fa-tags text-gray-500"></i> 
                {% for tag in page.tags %}
                    <a class="text-sm text-gray-900 bg-gray-300 p-1 rounded hover:bg-gray-200" href="#">
                        {{ tag }}{% if forloop.last == false %} {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div>
    <hr>
    <div class="text-sm text-gray-500 space-x-3 p-2">
        <span><i class="far fa-calendar-alt"></i> {{ page.date | date_to_string }}</span> 
        <span><i class="far fa-clock"></i> {% if page.content.size < 360 %}1{% else %}{{ page.content.size | divided_by:1800 }}{% endif %} min</span>
    </div>
    <hr>
</div>

<div class="prose p-6 mb-4">
    {{ content }}
</div>